# Compiled Java classes
*.class
target/
*.jar
*.war
*.ear

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Credentials
.env
.env.local

# IDEs
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj